---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const tags: Array<string> = [...new Set((posts).map((post) => post.data.tags!).flat())];
	return tags.map((tag) => ({
		params: { tag: tag },
        props: { posts: posts.filter((post) => post.data.tags!.includes(tag)) },
	}));
}

type PostType = CollectionEntry<'blog'>;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🐯 Tagged with {tag} </h1>
        <p>
        🚀 Welcome to Sakakibara's blog tagged with {tag} !
        This blog is created mainly for my own memorandum and study, 
        and the contents may be inadequate. Please understand.
        </p>
        <ul>
          {posts.map((post: PostType) => (
            <li>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </li>
            ))}
        </ul>
    </main>
  </body>
  <Footer />
</html>
