---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        display: grid;
        grid-template-areas:
          "title title"
          "date tags";
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.25em 0;
        grid-area: title;
      }
      .tags {
        grid-area: tags;
        text-align: end;
      }
      .tag {
        margin-right: 0.5em;
        border: 1px solid #ccc;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        color: gray;
        text-decoration: none;
      }
      .date {
        display: flex;
        padding: 0 0 0 2em;
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      hr {
        margin: 0 0 2em 0;
      }
    </style>
  </head>

  <body>
    <Header />
      <main>
        <article>
          <div class="hero-image">
              {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
          </div>
          <div class="prose">
            <div class="title">
              <h1>{title}</h1>
              <div class="date">
                {
                  updatedDate && (
                    <div class="last-updated-on">
                        <FormattedDate date={updatedDate} /> ←
                    </div>
                  )
                }
                <FormattedDate date={pubDate} />
              </div>
              <div class="tags">
                {tags && tags.map(tag => (
                  <a href={`/tags/${tag}`} class="tag">{tag}</a>
                ))}
              </div>
            </div>
            <hr />
            <slot />
          </div>
        </article>
      </main>
  </body>
  <Footer />
</html>
